.clock {
	display: grid;
	grid-template-columns: 70px 500px 70px;
	grid-template-rows: 70px 350px 70px;
}

.clock-cell:nth-child(2) {
	padding-right: 40px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.social {
	margin: 0 15px;
	cursor: pointer;
}

.clock-cell:nth-child(2)::after {
	position: absolute;
	bottom: 0;
	right: 0;
	content: '';
	width: 240px;
	height: 1px;
	background-color: var(--primary);
}

.clock-cell:nth-child(3) {
	border-left: 1px solid var(--primary);
	border-bottom: 1px solid var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
}

.clock-cell:nth-child(4) {
	padding: 25px 0;
	border-right: 1px solid var(--primary);
	border-bottom: 1px solid var(--primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.clock-helper {
	width: var(--binary-cell-size);
	height: var(--binary-cell-size);
	display: flex;
	justify-content: center;
	align-items: center;
}

.clock-cell:nth-child(5)::before {
	position: absolute;
	content: '';
	width: 17px;
	height: 17px;
	top: -9px;
	right: -9px;
	background-color: var(--fg);
	border: 1px solid var(--primary);
	z-index: 2;
	border-radius: var(--border-radius);
	transition: var(--bc-transition);
}

.clock-cell:nth-child(5) {
	padding: 25px 0;
	position: relative;
	background-color: transparent;
	border-bottom: 1px solid var(--primary);
	display: flex;
	justify-content: space-evenly;
}

.clock-cell:nth-child(5)::after {
	position: absolute;
	content: '';
	width: 17px;
	height: 17px;
	bottom: -9px;
	left: -9px;
	background-color: var(--fg);
	border: 1px solid var(--primary);
	border-radius: var(--border-radius);
	transition: var(--bc-transition);
}

.clock-cell:nth-child(6) {
	position: relative;
}
.clock-cell:nth-child(6)::after {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 1px;
	height: 100px;
	background-color: var(--primary);
}

.clock-cell:nth-child(7) {
	background-color: transparent;
	border-right: 1px solid var(--primary);
}

.clock-cell:nth-child(8) {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.binary-container {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.binary-column {
	display: flex;

	flex-direction: column;
	justify-content: space-evenly;
}

.binary-cell {
	margin: 0 10px;
	width: var(--binary-cell-size);
	height: var(--binary-cell-size);
	background-color: var(--fg);
	border: 1px solid var(--primary);
	border-radius: var(--border-radius);
}

.active {
	background-color: var(--primary);
	border: none;
}

.hide {
	opacity: 0;
	pointer-events: none;
}

.time {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.time:nth-child(2)::before {
	content: '';
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: var(--secondary);
	position: absolute;
	left: -20px;
	transition: var(--bc-transition);
}

.time:nth-child(2) {
	position: relative;
}

.time:nth-child(3) {
	position: relative;
}

.time:nth-child(3)::before {
	content: '';
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: var(--secondary);
	position: absolute;
	left: -20px;
	transition: var(--bc-transition);
}

.time-cell {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
