.clock {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: minmax(10px, 70px) minmax(100px, 520px) minmax(10px, 70px);
	grid-template-rows: minmax(10px, 70px) minmax(100px, 350px) minmax(10px, 70px);
}

.clock-cell:nth-child(2) {
	padding-right: 40px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.social {
	margin: 0 15px;
	cursor: pointer;
}

.clock-cell:nth-child(2)::after {
	position: absolute;
	bottom: 0;
	right: 0;
	content: '';
	width: 240px;
	height: 1px;
	background-color: var(--primary);
}

.clock-cell:nth-child(3) {
	position: relative;
	border-left: 1px solid var(--primary);
	border-bottom: 1px solid var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
}

.pseudo-square {
	position: absolute;
	width: 17px;
	height: 17px;
	border-radius: var(--border-radius);
	border: 1px solid var(--primary);
	background-color: var(--fg);
	z-index: 2;
}

.pseudo-top {
	bottom: -9px;
	left: -9px;
}

.clock-cell:nth-child(4) {
	padding: 25px 0;
	border-right: 1px solid var(--primary);
	border-bottom: 1px solid var(--primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.clock-helper {
	width: var(--binary-cell-size);
	height: var(--binary-cell-size);
	display: flex;
	justify-content: center;
	align-items: center;
}

.clock-cell:nth-child(5) {
	padding: 25px 0;
	position: relative;
	background-color: transparent;
	border-bottom: 1px solid var(--primary);
	display: flex;
	justify-content: space-between;
	padding: 0 25px;
}

.clock-cell:nth-child(6) {
	position: relative;
}
.clock-cell:nth-child(6)::after {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 1px;
	height: 100px;
	background-color: var(--primary);
}

.clock-cell:nth-child(7) {
	position: relative;
	background-color: transparent;
	border-right: 1px solid var(--primary);
}

.pseudo-bottom {
	top: -9px;
	right: -9px;
}

.clock-cell:nth-child(8) {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.binary-container {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.binary-column {
	display: flex;

	flex-direction: column;
	justify-content: space-evenly;
}

.binary-cell {
	margin: 0 10px;
	width: var(--binary-cell-size);
	height: var(--binary-cell-size);
	background-color: var(--fg);
	border: 1px solid var(--primary);
	border-radius: var(--border-radius);
}

.active {
	background-color: var(--primary);
	border: none;
}

.time {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pseudo-dot {
	position: relative;
	content: '';
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: var(--secondary);
	z-index: 3;
}

.time:nth-child(2) {
	position: relative;
}

.time:nth-child(3) {
	position: relative;
}

.time-cell {
	width: var(--binary-cell-size);
	height: var(--binary-cell-size);
	margin: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hide {
	opacity: 0;
	pointer-events: none;
}
