@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import './clock.css';

:root {
	--border-radius: 2px;
	--binary-cell-size: 40px;
	--bc-transition: background-color 0.3s ease-in-out;
	/* dark theme */
	--white: #fff;

	/* pink */
	--pink01: #fff6f6;
	--pink02: #ffd9e2;
	--pink03: #e49baf;
	--pink04: #ffa4ba;
	--pink05: #d4aab3;
	--pink06: #413e3f;
	--pink07: #3f373a;

	/* purple */
	--purple01: #f7f6ff;
	--purple02: #d8d3ff;
	--purple03: #a79ef0;
	--purple04: #aba1ff;
	--purple05: #8981b4;
	--purple06: #504f58;
	--purple07: #42424f;
}

.dark {
	--bc: var(--pink06);
	--fg: var(--pink07);
	--primary: var(--pink03);
	--secondary: var(--pink05);
}

/* .dark {
	--bc: var(--purple06);
	--fg: var(--purple07);
	--primary: var(--purple03);
	--secondary: var(--purple05);
} */

.light {
	--bc: var(--pink01);
	--fg: var(--white);
	--primary: var(--pink04);
	--secondary: var(--pink02);
}

/* .light {
	--bc: var(--purple01);
	--fg: var(--white);
	--primary: var(--purple04);
	--secondary: var(--purple02);
} */

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: var(--bc);
	color: var(--primary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	position: fixed;
	top: 6%;
}

header h5::before {
	content: '';
	height: 1px;
	width: 40px;
	background-color: var(--primary);
	position: absolute;
	top: 19.2px;
	left: -40px;
}

header h5 {
	position: relative;
	padding: 7px 18px;
	background-color: var(--fg);
	border: 1px solid var(--primary);
	border-radius: var(--border-radius);
	z-index: 3;
}

header h5::after {
	content: '';
	height: 1px;
	width: 40px;
	background-color: var(--primary);
	position: absolute;
	top: 19.2px;
	right: -40px;
}

.zdog-canvas {
	cursor: pointer;
}

footer {
	position: fixed;
	bottom: 3%;
}
